# Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/

# Django / Flask
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.webassets-cache

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets
config.js

# Project Docs (Optional: Keep if you want to track them, but usually ignored if personal notes)
FSD LAB.docx
FSD_ALBIN.pdf
FSD_ALBIN_2.pdf
FSD_INDEX_ALBIN_FINAL.docx
FSD_INDEX_ALBIN_FINAL.pdf